.root{
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  height: 100%;
}

header{
  background-color: lightgray;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}
.wrapper__content{
  background-color: whitesmoke;
}

footer{
  background-color: lightgray;
}

/* Break points for adaptive */
@media (min-width:700px){
  .wrapper{
    grid-template-columns: 1fr 5fr 1fr;
  }
}
@media (max-width:699px){
  .wrapper{
    grid-template-columns: 1fr 15fr 1fr;
  }
}
